#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.1);
  border-radius: 4px;
  background-color: azure;
  display: flex;
  flex-direction: column;
  height: 90px;
  gap: 10px;
}

.main-container {
  display: flex;
  flex-direction: column;
  place-content: center;
  gap: 10px
}

.container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  place-items: center;
  margin-left: auto;
  margin-right: auto;
}

.bold-text {
  font-weight: bold;
  font-size: xx-large;
  margin-bottom: auto;
  margin-top: auto;
}


.bold-text-notify {
  font-weight: bold;
  font-size: xx-large;
  margin-bottom: auto;
  margin-top: auto;
  color: red;
}

.header-text {
  margin-top: auto;
  margin-bottom: auto;
  white-space: nowrap;
}

.blink {
  animation: blink-animation 1s infinite;
}

@keyframes blink-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
